<link href="/css/patient_search.css" rel="stylesheet">
<br/><br/>
<div class="row" style="margin-left: 2%;width: 100%">
    <form method="post">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="icon-addon addon-lg">
                        <input type="text" placeholder="Phone Number" class="form-control" name="phone" id="phone">
                        <label for="phone" class="glyphicon glyphicon-search" rel="tooltip"
                               title="Search Patient"></label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="icon-addon addon-lg">
                        <input type="text" placeholder="First Name" class="form-control" id="fname" name="fname">
                        <label for="fname" class="glyphicon glyphicon-search" rel="tooltip"
                               title="Search Patient"></label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="icon-addon addon-lg">
                        <input type="text" placeholder="Last Name" class="form-control" id="lname" name="lname">
                        <label for="fname" class="glyphicon glyphicon-search" rel="tooltip"
                               title="Search Patient"></label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-primary" value="Search">
                </div>
            </div>
        </div>
    </form>
    <table id="patient_search_result" class="table" style="width: 90%;">
        <thead>
        <tr class="table-header">
            <th>MRN</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Phone Number</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {{#each patient_data}}
                <td>{{MRN}}</td>
                <td>{{fname}}</td>
                <td>{{lname}}</td>
                <td>{{add1}},<br />{{add2}}</td>
                <td>{{city}}</td>
                <td>{{phone}}</td>
                <td>
                    <button class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
                <td><a href="#">Select</a></td>
            {{/each}}
        </tr>
        </tbody>
    </table>
    <div>
        <a href="#" class="paginate" id="previous">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#" class="paginate" id="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
<script type='text/javascript' src="/js/patient_search.js"></script>