<div class="col-md-12" style="">
    <br/>
    <div class="well">
        <div class="row">
            {{#each patient_data}}
                <div class="col-sm-4">
                    <table>
                        <tr>
                            <td><h4>MRN : <b>{{MRN}}</b></h4></td>
                        </tr>
                        <tr>
                            <td><h4>Name : <b>{{lname}},{{fname}}</b></h4></td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-4">
                    <table>
                        <tr>
                            <td><h4>Phone : <b>{{mob_num}}</b></h4></td>
                        </tr>
                        <tr>
                            <td><h4>Age : <b>{{age}}</b></h4></td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-4">
                    <table>
                        <tr>
                            <td><h4>City : <b>{{city}}</b></h4></td>
                        </tr>
                        <tr>
                            <td><h4>Gender : <b>{{gender}}</b></h4></td>
                        </tr>
                    </table>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:130px">
        <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'Orders')">Orders</button>
        <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'Reports')">Reports</button>
    </div>
    <div style="margin-left:130px;">
        <div id="Orders" class="well w3-container patient_menu">
            <br/>
            <p>
            <form method="post" class="form-inline" id="new_order_form" name="new_order_form">
                <div class="form-group">
                    <input type="text"
                           class="form-control"
                           id="orderNametxtBox"
                           name="orderNametxtBox"
                           list="orderList"
                           placeholder="Search Order"
                           style="width: 295%;"/><!--your input textbox-->
                </div>
                <div class="form-group" style="margin-left: 36%">
                    <input type="button" value="Place Order"
                           class="openDialogBox form-control btn-primary">
                </div>
            </form>
            <br />
            <table id="order__term_result" border="0" class="table table-hover" style="width: 90%;">
                <thead class="table-header ">
                <tr>
                    <th>Order Name</th>
                    <th>Price</th>
                    <th>Placed By</th>
                    <th>Ordered Date</th>
                    <th>Sample Collected Date</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each orders_data}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{price}}</td>
                        <td>{{ordered_by}}</td>
                        <td>{{order_date}}</td>
                        <td>{{speciment_collected_dt_time}}</td>
                        <td>{{status}}</td>
                        <td>
                            <button class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            </p>
        </div>

        <div id="Reports" class="well w3-container patient_menu" style="display:none">
            <h3>Patient Reports</h3>
            <p></p>
        </div>
    </div>
</div>

<script>
    function openTab(evt, cityName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("patient_menu");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " w3-red";
    }
</script>

<datalist id="orderList">
    {{#each order_term_data}}
        <option value='{{name}}'/>
    {{/each}}
</datalist>

<div id="dialog-confirm" title="Confirmation" style="display: none;">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;">
        </span>
        Are you sure you want to place <span id="order_name"></span> Order?
    </p>
</div>

<script>
    $(".openDialogBox").click( function() {
        document.getElementById('order_name').innerHTML = document.getElementById('orderNametxtBox').value;
        $( "#dialog-confirm" ).dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "Yes": function() {
                    $('#new_order_form').submit();
                },
                "No": function() {
                    $( this ).dialog( "close" );
                }
            }
        });
    } );
</script>
