<div class="row" style="margin-left: 2%;width: 100%">
    <br />
    <h1><i><b>Sample Collection</b></i></h1>
    <br />
    <form id="sample_collection_form" method="post" action="/sample_collection">
      <input type="hidden" name='order_id' id="order_id" />
    <table id="patient_orders_result" border="0" class="table table-hover" style="width: 90%;">
        <thead class="table-header ">
        <tr>
            <th>Order Name</th>
            <th>Patient</th>
            <th>Address</th>
            <th>Placed By</th>
            <th>Ordered Date</th>
            <th>Sample Collected Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {{#each orders_data}}
            <tr>
                <td>{{name}}</td>
                <td>{{patient_name}}</td>
                <td>{{patient_city}}</td>
                <td>{{ordered_by}}</td>
                <td>{{order_date}}</td>
                <td>{{speciment_collected_dt_time}}</td>
                <td>{{status}}</td>
                <td><a href="#" id="printBarCode"
                       class="openDialogBox btn btn-info btn-lg"
                       onclick="printBarCode(
                               '{{patient_name}}',
                               '{{name}}',
                               '{{order_date}}',
                               '{{ID}}',
                               '{{patient_mrn}}')">
                               <span class="glyphicon glyphicon-ok"></span>
                     </a></td>
            </tr>
        {{/each}}
        </tbody>
    </table></form>
</div>
<div id="dialog-confirm" title="Do you want to print label?" style="display: none;">
  <div class="row" style="margin-left:2%;">
    <div class="col-md-6"><span id='patient_name'></span></div>
    <div class="col-md-6"><span id='patient_mrn'></span></div>
  </div>
  <div class="row" style="margin-left:2%;">
    <div class="col-sm-6"><span id='order_name'></span></div>
    <div class="col-sm-6"><span id='order_date'></span></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="barcode" name='barcode'></div>
    </div>
    <div class="col-md-6"><span id='order_name'></span></div>
  </div>
</div>

<script type="text/javascript" src="js/sample_collection.js"></script>
